
<mat-toolbar class="tool" >
    <mat-toolbar-row>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
        </button>
        <h1 style="margin-top: 10px; margin-left: 30px;">Payroll Managment System</h1>
        <button mat-raised-button color="primary" style="margin-left: 950px; background-color:#d6dbe5; color: black;" (click)="logout()">Logout</button>



    </mat-toolbar-row>
    
   
  </mat-toolbar>
