<!-- <p>login works!</p> -->
<div class="card-cover">

    <mat-card class="login-card" style="width:700px">
        <mat-card-content>
    
            <div class="bootstrap-wrapper">
                <div class="container">
                    <div class="row" style="margin-top: 15px;">
                        <div class="col-md-6 offset-md-3"></div>
                        <div class="container text-center">
                            <img src="../../assets/loginpage.gif" width="500px" alt="">
                        </div>
                        <h1 class="text-center" style="font-family: cursive; font-size: 40px;"><b>Login Here</b></h1>
            
                        <form>
                            <mat-form-field class="full-width" appearance="fill">
                                <mat-label>Username</mat-label>
                                <input matInput type="text" placeholder="Enter username" name="username" [(ngModel)]="username">
                                
                              </mat-form-field>
            
                              <mat-form-field class="full-width" appearance="fill">
                                <mat-label>Password</mat-label>
                                <input matInput type="password" placeholder="Enter Password" name="password" [(ngModel)]="password">
                                
                              </mat-form-field>
            
                              <div class="container text-center btn-width">
                                <button mat-raised-button color="primary" style="width: 100px; height: 40px; background-color:#0f172a" (click)="handleLogin()">Login</button>
            
                              </div>
                        </form>
            
                    </div>
            
                </div>
            
            </div>
            
        </mat-card-content>
      </mat-card>

</div>

  

