<!-- <p>sidebar works!</p> -->
<mat-nav-list class="matnavlist">
  <!-- <div class="sidebar"> -->

  <!-- </div> -->
    <div class="logo py-4">
      <!-- ../../assets/5cf8fbf7-7742-4639-933a-b1d3b0f73c52.png -->
      <img src="../../assets/logo_crop.gif" width="230px" margin="10px" alt="Company Logo" />
    </div>
    <mat-divider class="matdivider"></mat-divider>
    <h2 matSubheader class="mt-2">APPLICATIONS</h2>
  
    <a mat-list-item class="matlistitem" routerLinkActive="item-active" routerLink="/home/employee-list">
      <mat-icon>edit</mat-icon> Employee's List
    </a>
    <a mat-list-item class="matlistitem" routerLinkActive="item-active" routerLink="/home/add-employee">
      <mat-icon>edit</mat-icon> Add Employee
    </a>
    <a mat-list-item class="matlistitem" routerLinkActive="item-active" routerLink="/home/salary-reports">
        <mat-icon>edit</mat-icon> Salary Structure
      </a>
      <a mat-list-item class="matlistitem" routerLinkActive="item-active" routerLink="/home/add-report">
        <mat-icon>edit</mat-icon> Add Salary Structure
      </a>
<!-- </div> -->
<a mat-list-item class="matlistitem" routerLinkActive="item-active" routerLink="/home/monthly-reports">
  <mat-icon>edit</mat-icon>Salary Reports
</a>
   
  </mat-nav-list>
