<!-- <p>add-employee works!</p> -->
<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row" style="margin-top: 50px;">
            <div class="col-md-6 offset-md-3"></div>
           
            <h1 class="text-center ">Add a new Employee</h1>
           
            
            

            <form style="margin-top: 25px;" (ngSubmit)="!addemployee.invalid && onsubmit()" #addemployee="ngForm">
                <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Employee ID</mat-label>
                    <input matInput placeholder="Enter employee id"  type="text" id="id"  name="id" [(ngModel)]="employee.id" required>
                    <!-- <mat-hint>Hint</mat-hint> -->
                  </mat-form-field>
                  <br>
                  <br>
                  <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Name</mat-label>
                    <input matInput placeholder="Enter name"  type="text" id="name"  name="name" [(ngModel)]="employee.name" required>
                    <!-- <mat-hint>Hint</mat-hint> -->
                  </mat-form-field>
                  <br>
                  <br>
                  <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Department</mat-label>
                    <input matInput placeholder="Enter department"  type="text" id="department"  name="department" [(ngModel)]="employee.department" required >
                    <!-- <mat-hint>Hint</mat-hint> -->
                  </mat-form-field>
                  <br>
                  <br>
                  <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Contact No</mat-label>
                    <input matInput placeholder="Enter contact no"  type="text" id="contact"  name="contact" [(ngModel)]="employee.contact" required minlength="10" maxlength="10" #contactno="ngModel">
                    <!-- <mat-hint>Hint</mat-hint> -->
                  </mat-form-field>
                  <div *ngIf="contactno.invalid && (contactno.dirty||contactno.touched)" class="alert">
                    <div *ngIf="contactno.errors?.['minlength']">
                      Contact no must be 10 digits long
                    </div>

                  </div>
                  <br>
                  <br>
                  <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Enter email-id" type="text" id="email"  name="email" [(ngModel)]="employee.email" required #email_id="ngModel" email="true">
                    <!-- <mat-hint>Hint</mat-hint> -->
                    <div *ngIf="email_id.errors?.['email']">
                      Email not valid
                    </div>
                  </mat-form-field>
                  <br>
                  <br>

                 

                  <div class="container text-center btn-width">
                    <button mat-raised-button color="primary" style="width: 100px; height: 40px; background-color:#0f172a" class="btn btn-success"  type="submit">Save</button>

                  </div >

                
            </form>

        </div>

    </div>

</div>


