<p style="font-size: 50px; margin-top: 50px; margin-bottom: 30px; font-family: cursive;" class="text-center"><b>Welcome !</b></p>
<div class="text-center">
    <img src="../../assets/Mar-Business_11.jpg" alt="" style="width: 800px;">
 
</div>
<p style="font-size: 50px; font-family:cursive; margin-top: 30px;" class="text-center"><b>Let's Get Started</b></p>

<div class="text-center cropArrow" style="margin-top: 40px;">
    <img src="../../assets/crop_arrow.gif" alt="" style="width: 300px;">
 
</div>